@import "variables.scss";

.home-page-img {
    width: 100%;
    height: 576px;
}

.centered-text {
  font: $bodyFont;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.2;
  transform: translate(-50%, -50%);
}