@import "variables.scss";


.park-content {
    // background: blue;
    width: 58%;
    margin: auto;
    // font-family: 'Montserrat', Arial, sans-serif;
    font-family: $headerFont;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color:  #676767;

    h1 {
        font-size: 1.75rem;
        padding-bottom: 12px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

.photo-carousel {
    // background: rgb(230, 230, 230);
    height: 240px;
    display: flex;
}
.park-photo {
    border-radius: 8px;
    height: 220px;
    width: 330px;
    margin-right: 5px;
}

.title-wrapper {
    // background: blue;
    height: 50px;
}

.title > h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -.3px;
    color: #414141;
}

.ratings-wrapper {
    // width: 20px;
    // background: red;
    display: flex;
}

.ratings-star {
    // background: rgb(247, 247, 173);
    // display: flex;
    // align-items: center;
        color: #ffb400;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 80%;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

.star {
    width: 20px;
    height: 20px;
}

.ratings-num {
    // background: yellow;
}

.park-summary {
    // height: 100px;
    height: max-content;
    width: 800px;
    font-size: 1rem;
    padding: 12px 0;
    font-family: $headerFont;
}

.park-desc-header {
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: #414141;
}

.park-desc {
    // height: max-content;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 1.5;
}

.park-tags {
    // display: flex;
    // flex-wrap: wrap;
}

.park-static-map {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    height: 240px;

    // cursor: pointer;
    // // display: flex;
    // // -o-object-fit: cover!important;
    // // object-fit: cover!important;
    // max-width: 100%;
    // width: 100%;
}

.park-links-wrapper {
    height: 80px;
}

.park-action {
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}

.park-links {
    display: flex;
    flex-direction: column;
    // text-decoration: none;
}

.park-links > p {
    font-family: $headerFont;
    // color: $green;
    // font-size: 1.2rem;
    color: #428a13;
    font-size: 16px;
    line-height: 1.38;
}

.directions-btn {
    background: url("https://cdn-assets.alltrails.com/assets/packs/media/icons/direction_icon-aa4d3776.svg");
    background-repeat: no-repeat;
    align-items: center;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    display: flex;
    justify-content: center;
    outline: none;
    position: relative;
    transition: .2s ease-in-out;
    z-index: 99;
    height: 60px;
    width: 60px;
    // cursor: pointer;
    margin-right: 0px;
}

.direction-btn-text {
    color: #428a13;
    font-size: 16px;
    line-height: 1.38;
    margin: 0px;
    // // // // padding: 5px 5px 5px 5px;
    padding: 0px;
    // margin-bottom: 10px;
    // margin-left: 4px;
    cursor: pointer;
}

.park-info-wrapper {
    border-top: 1px solid  rgb(187, 187, 187);
    border-bottom: 1px solid  rgb(187, 187, 187);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.park-info-main-header {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -.2px;
    color: #414141;
}

.park-info-header {
    // display: block;
    display: flex;
    // flex-direction: row;
}

.park-info-subheader {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    width: 150px;
}

.park-info-details {
    padding-top: 10px;
    padding-bottom: 10px;

}

.park-info-pairs {
    // flex-direction: space-between;
}

.park-info-title {
    // display: block;
    // display: flex;
    // justify-content: space-evenly;
}

.park-info-results {
    display: flex;
    // justify-content: space-evenly;
}

.filter-trails-list {
    height: 100px;
}

.trails-index-wrapper {
    padding-top: 20px;
}

.trails-header-text {
    margin-left: 390px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -.2px;
    color: #414141;
    // padding: 15px 0px 15px 0px;
}


