@import "variables.scss";

.sec-nav {
    display: flex;
    // justify-content: space-around;
    // background: pink;
    height: 45px;

}

.left-wrapper {
    // background: green;
    flex: 2.5;
    justify-content: flex-start;
}

.right-wrapper {
    // background: yellow;
    flex: 1;
    justify-content: flex-end;
}



.secNav-input-holder {
    flex: 1;
    justify-content: flex-end;
//   border-width: 14px;
//   border-style: solid;
//   border-color: rgba(165,165,165,0.7);
  border: 1px solid #e6e6e6;
  border-radius: 7px;
//   width: 500px;
  height: 45px;
  margin: auto;
  display: flex;
  cursor: text;
}

.secNav-magnifying-glass {
  background-color: $green;
  width: 60px;
  height: 100%;
}

.secNav-magnifying-glass > * {
  height: 70%;
}

.secNav-search-bar {
  flex: 1;
  // height: 55px;
  height: 100%;
  // border-color: white;
  border: 0;
  padding: 0;
  // border-radius: 10px;
  color: #414141;
  font-size: 24px;
//   background: #fff;
}


.secNav-search-button {
  font-family: $bodyFont;
  background-color: $green;
  color: $green;
  border: 0;
  width: 80px;
  padding: 15px 30px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 14px;
}


//PARK
.park-content {
    // background: blue;
    width: 70%;
    margin: auto;
    font-family: 'Montserrat', Arial, sans-serif;
}

.photo-carousel {
    background: rgb(230, 230, 230);
    height: 180px;
}

.title-wrapper {
    // background: blue;
    height: 50px;
}

.title > h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -.3px;
    color: #414141;
}

.ratings-wrapper {
    // width: 20px;
    // background: red;
    display: flex;
}

.ratings-star {
    background: rgb(247, 247, 173);
    display: flex;
    align-items: center;
}

.ratings-num {
    // background: yellow;
}

.park-summary {
    height: 100px;
    // height: max-content;
    font-size: 1rem;
    padding: 12px 0;
    font-family: $navFont;
}

.park-desc-header {
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: #414141;
}

.park-desc {
    // height: max-content;
}

.park-tags {
    // display: flex;
    // flex-wrap: wrap;
}

.park-map {
    height: 250px;
}

.park-links-wrapper {
    height: 80px;
}

.park-info-titles {
    // display: block;
    display: flex;
    justify-content: space-evenly;
}

.park-info-title {
    // display: block;
    // display: flex;
    // justify-content: space-evenly;
}

.park-info-results {
    display: flex;
    justify-content: space-evenly;
}

.filter-trails-list {
    height: 100px;
}

