
.suggestions-list-wrapper {
    position: absolute;
    top: 57px;
    left: 0px;
    background-color: white;
    overflow-y: scroll;
    max-height: 280px;
    width: 742px;
    // padding: 3.5px 7px 3.5px 7px;
    // display:block;
   
    // display: none;
    
}

.suggestions-list {
    text-decoration: none;
    font-size: 12px;
    // text-align: left;
    padding: 3.5px 7px 3.5px 7px;
    color: #414141;
    
    // display: none;
    // display: flex;
    // align-content: center;
}

.suggestions-list:hover {
    color: #fff;
}

.park-suggestions {
    background-image: url(https://cdn-assets.alltrails.com/assets/icons/search/icon-search-area-a1a4d8a4150b8b5c662e654e3c9c6cd3.png);
    background-repeat: no-repeat; 
    background-size: 30px 30px;
    background-position-x: 10px;
    background-position-y: center;
    // border-top: 10px solid white;
    text-align: left;
    text-indent: 42px;
    // vertical-align: center;
    // height: 100px;
    // line-height: 20px;

    display: flex;
    align-items: center;
    height: 50px;
}


.park-suggestions:hover {
    background-image: url(https://cdn-assets.alltrails.com/assets/icons/search/icon-search-area-selected-da428772083f22bc605f9bbe842a2291.png);
    background-repeat: no-repeat; 
    background-size: 30px 30px;
    color: #fff;

}

.trail-suggestions {
    background-image: url(https://cdn-assets.alltrails.com/assets/icons/search/icon-search-trail-e76c88032bda2fa01e820c971d8e9d63.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    text-align: left;
    text-indent: 42px;
    background-position-x: 10px;
    background-position-y: center;
    display: flex;
    align-items: center;
    height: 50px;
}

.trail-suggestions:hover {
    background-image: url(https://cdn-assets.alltrails.com/assets/icons/search/icon-search-trail-selected-414971dec0e7e3297af0c0a585df06f2.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

ul {
    border: 3px solid rgb(187, 187, 187);
}

li {
    // border-bottom: 2px solid green;   
    margin: 0px;
    padding: 0px;
}

li:last-child {
    border:none;
}

li:hover {
    background-color:#468A13;
    color:white;
}




