.trail-index-item-link {
    cursor: pointer;
    text-decoration: none;
}

.trail-el-wrapper {
    // flex: 1 0 auto;
    // background: papayawhip;
    // height: 1000px;
    // margin-top: 15px;
    width: 58%;
    margin: auto;
}

.trail-info {
    // padding: 20px;
    // max-height: 224px;
    // height: 150px;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    height: auto;
        padding: 20px;
    max-height: 224px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.trail-cover-photo {
    padding: 15px;
    padding-right: 0;
    height: auto;
}

.trail-cover-photo img {
    // border-color: black;
    // height: 194px;
    width: 280px;
    border-radius: 8px;
}

.trail-el {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 0 8px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    background-color: white;
}

.trail-name {
    font-family: Proxima Nova,Arial,sans-serif;
    // font-stretch: normal;
    // font-style: normal;
    // letter-spacing: normal;
    text-overflow: ellipsis;
    white-space: normal;
    color: #414141;
    font-weight: 600;
    font-size: 16px;
}

.trail-park-name {
    display: flex;
    align-items: center;
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    height: 21px;
    line-height: 21px;
    letter-spacing: normal;
    color: #767676;
    padding: 0px 24px 0px 0px;
}

.trail-info-sub {
    display: flex;
    margin-top: 6px;
    height: 18px;
    line-height: 18px;
}

.trail-difficulty-easy {
    background-color:#69a041;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    padding: 0;
    width: 80px;
    text-align: center;
    font-family: Proxima Nova,Arial,sans-serif;
    margin-right: 10px;
}
.trail-difficulty-moderate {
    background-color: #4bafe1;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    padding: 0;
    width: 80px;
    text-align: center;
    font-family: Proxima Nova,Arial,sans-serif;
    margin-right: 10px;
}
.trail-difficulty-strenuous {
    background-color: #676767;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    padding: 0;
    width: 80px;
    text-align: center;
    font-family: Proxima Nova,Arial,sans-serif;
    margin-right: 10px;
}

.review-stars {
    margin-left: 8px;
}

.review-count {
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 400;
    // font-stretch: normal;
    // font-style: normal;
    // letter-spacing: normal;
    text-decoration: none;
    margin-left: 8px;
    width: 24px;
    height: 18px;
    font-size: 12px;
    line-height: 1.42;
    color: #767676;
}

.trail-length {
    // margin-top: 6px;
    // font-size: 12.8px;
    // margin: 5px 0;
    // font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    align-items: center;
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    height: 21px;
    line-height: 21px;
    letter-spacing: normal;
    color: #767676;
    // padding: 0px 24px 0px 24px;
    margin-top: 2px;
}

// .trail-summary {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
// }

.trail-summary {
    height: 48px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    line-height: 1em;
    font-size: 16px;
    line-height: 1.5;
    color: #5a5a5a;
    // margin-top: 20px;
    // overflow: hidden;
    word-break: break-word;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    
}

// .show-more {
//     // color: #428a13;
//     // position: absolute;
//     // right: 3px;
//     // bottom: -1px;
//     // right: 100px;
//     // top: 40px;
//     // background-color: white;
//     // box-shadow: -10px 0px 15px rgba(255,255,255,0.8);

//     color: #428a13;
//     cursor: pointer;
//     font-family: Proxima Nova,Arial,sans-serif;
//     font-size: 16px;
//     font-weight: 400;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.44;
//     letter-spacing: normal;
// }

.trail-index {
    border: 0px;
}

