@import "./variables.scss";

.review-form-modal {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.16);
    width: 660px;
    height: 583px;
    cursor: auto;
    // display: flex;
    // flex-direction: column;
}

.review-form-x-wrapper {
    padding: 26px 32px 0;
    // display: flex;
}
.review-form-x {
    border: none;
    color: #767676;
    background: #fff;
    font-size: 16px;
    padding: 0;
    margin-left: -5px;
    outline: none; 
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.review-trail-name {
    margin-left: 5%;
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 30px;
    font-weight: 650;
    color: #414141;
    line-height: 1.13;
    letter-spacing: -.3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 72px;
    margin-top: 1%;
}

.review-form-body {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

//star ratings
.rating-select {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 35px;
    margin-top: 3%;
    
    margin-left: 5%;
}

.review-star::before {
    content: "★";
    color: $lightGrey;
}

.review-star {
    cursor: pointer;
}

input:checked ~ .review-star::before {
    color: gold;
}

.rating-select > input {
    visibility: hidden;
}

.rating-select > input + .review-star {
    display: inline-block;
}

.review-text {
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    width: 84%;
    height: 100%;
    font-size: 16px;
    font-family: Proxima Nova,Arial,sans-serif;
    padding: 12px 16px;
    line-height: 1.5;
    color: #414141;
    min-height: 113px;
    outline: none;
}

.review-form-subheader {
    font-size: 18px;
    font-weight: 700;
    color: #414141;
    width: 33%;
}

.activity-date-wrapper {
    // border: 2px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
    margin-top: 30px;
    margin-left: 32px;
    margin-right: 32px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.activity-dropdown {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 14px 42px 14px 15px;
    // max-width: 160px;
    width: 40%;
    font-family: Proxima Nova,Arial,sans-serif;
    outline: none;
}

.activity-space {
    width: 20px;
}

.activity-date {
    border: 1px solid #e6e6e6;
    font-family: Proxima Nova,Arial,sans-serif!important;
    border-radius: 8px;
    padding: 7px 7px 7px 15px;
    margin: 0;
    color: #414141;
    background: #fff;
    // height: 100%;
    height: 31px;
    width: 35%;
    outline: none;
}

.trail-conditions-wrapper {
    padding: 0 32px;
    // margin: auto 0;
    margin: 20px 0;
}

.review-form-btn-wrapper {
    // border: 2px red solid;
    padding: 24px 32px 32px;
    text-align: right;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.cancel-btn {
    font-size: 16px;
    color: #428a13;
    font-weight: 600;
    width: 168px;
    border: none;
    outline: none;
    padding-right: 70px;
    height: 100%;
    background: transparent;
}

.cancel-btn:hover {
    cursor: pointer;
    color: #69a041;
    background: transparent;
}

.post-btn {
    width: 168px;
    margin: 0;
    height: 40px;
    padding-bottom: 3px;
    background-color: #428a13;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-btn:hover {
    cursor: pointer;
    background-color: #69a041;
}

input[type="date"] {
    cursor: pointer;
}

select {
    cursor: pointer;
}
