$headerFont: 'Montserrat', Arial, sans-serif;
$bodyFont: 'Work Sans', Helvetica, sans-serif;
// $bodyFont: "Varela Round", "Montserrat", sans-serif;
$titleFont: 'Varela Round', "Montserrat", sans-serif;

$MuseoFont: "Museo Sans Rounded", Arial, sans-serif;

// Proxima Nova,Arial,sans-serif

// colors

$green: #428a13;